.form {
  justify-content: center !important;
  margin-top: 30px;
}

form .submit {
  padding: 8px 20px;
  margin-left: 5px;
  border-radius: 20px;
}

form input {
  padding: 12px;
  outline: none;
  border: 0px;
  border-radius: 20px;
}
